body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

button {
  margin: 10px;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* This adds space between buttons */
  margin-top: 20px;
}


.chat-button, .call-button{
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease;
}

.chat-button {
  background-color: #25D366;
}

.chat-button:hover {
  background-color: #1ebe5d;
}

.call-button: {
  background-color: #007bff;
}

.call-button:hover {
  background-color: #0069d9;
}
